pkgbase = proton-vpn-gtk-app-community
	pkgdesc = Community Proton VPN GTK client with ProTun support
	pkgver = 1.0.0
	pkgrel = 1
	install = proton-vpn-gtk-app-unofficial.install
	arch = any
	license = GPL-3.0-or-later
	depends = python
	depends = python-gobject
	depends = gtk4
	depends = networkmanager
	depends = python-dbus
	depends = python-requests
	depends = python-packaging
	depends = python-distro
	depends = python-proton-core
	depends = python-proton-vpn-api-core-local
	depends = python-proton-vpn-local-agent
	depends = proton-vpn-daemon
	depends = python-cryptography
	depends = python-fido2
	depends = python-pynacl
	depends = python-jinja
	depends = python-sentry_sdk
	depends = libnotify
	provides = proton-vpn-gtk-app
	provides = protonvpn
	conflicts = proton-vpn-gtk-app
	conflicts = proton-vpn-gtk-app-git
	conflicts = proton-vpn-gtk-app-unofficial
	conflicts = proton-vpn-gtk-app-unofficial-bin
	conflicts = proton-vpn-gtk-app-unofficial-git
	conflicts = protonvpn
	conflicts = protonvpn-gui
	source = https://github.com/libertypo/proton-vpn-unofficial-/archive/refs/tags/v1.0.0.tar.gz
	source = proton-vpn-gtk-app-unofficial.desktop
	sha256sums = 979886fadb79587cc9231eb9e24e2f12b51c2c6fa4f446fe30ffdd1f7dc0be73
	sha256sums = bf2cd0f8be5d2317c14a518d190657a757dba58159290c6e89d021a8650ec3a6

pkgname = proton-vpn-gtk-app-community
