%define unmangled_name proton-vpn-daemon
%define pep_625_name proton_vpn_daemon
%define version {version}
%define src_dbus_service dbus.service
%define dst_dbus_service me.proton.vpn.split_tunneling.service
%define src_systemd_service systemd.service
%define dst_systemd_service me.proton.vpn.split_tunneling.service
%define src_introspection_xml dbus.conf
%define dst_introspection_xml me.proton.vpn.split_tunneling.conf
%define release 1

Prefix: %{{_prefix}}
Name: %{{unmangled_name}}
Version: %{{version}}
Release: %{{release}}%{{?dist}}
Summary: %{{unmangled_name}} library

Group: ProtonVPN
License: GPLv3
Vendor: Proton AG <opensource@proton.me>
URL: https://github.com/ProtonVPN/%{{unmangled_name}}
Source0: %{{pep_625_name}}-%{{version}}.tar.gz
Source1: %{{src_introspection_xml}}
Source2: %{{src_dbus_service}}
Source3: %{{src_systemd_service}}
BuildArch: noarch
BuildRoot: %{{_tmppath}}/%{{pep_625_name}}-%{{version}}-%{{release}}-buildroot

BuildRequires: python3-devel
BuildRequires: python3-setuptools
BuildRequires: systemd-rpm-macros
BuildRequires: systemd
BuildRequires: python3-dbus-fast
BuildRequires: python3-bcc
BuildRequires: python3-psutil
BuildRequires: python3-packaging
BuildRequires: wireguard-tools
BuildRequires: python3-proton-vpn-api-core >= 5.3.1

Requires: systemd
Requires: python3-dbus-fast
Requires: python3-bcc
Requires: python3-psutil
Requires: python3-packaging
Requires: wireguard-tools
Requires: python3-proton-vpn-api-core >= 5.3.1

%description
Contains the daemon for Proton VPN.

# pre un-uninstall/upgrade
%preun
systemctl stop %{{dst_systemd_service}}
systemctl disable %{{dst_systemd_service}}
systemctl daemon-reload

# post install/upgrade
%posttrans
systemctl daemon-reload
systemctl enable %{{dst_systemd_service}}
systemctl start %{{dst_systemd_service}}

%prep
%setup -q -n %{{pep_625_name}}-%{{version}}

%build
%pyproject_wheel

%install
install -D -m 644 %{{SOURCE1}} %{{buildroot}}%{{_sysconfdir}}/dbus-1/system.d/%{{dst_introspection_xml}}
install -D -m 644 %{{SOURCE2}} %{{buildroot}}%{{_sysconfdir}}/dbus-1/system-services/%{{dst_dbus_service}}
install -D -m 644 %{{SOURCE3}} %{{buildroot}}%{{_unitdir}}/%{{dst_systemd_service}}
%pyproject_install
%pyproject_save_files proton

%files -n %{{name}} -f %{{pyproject_files}}
%{{_sysconfdir}}/dbus-1/system.d/%{{dst_introspection_xml}}
%{{_sysconfdir}}/dbus-1/system-services/%{{dst_dbus_service}}
%{{_unitdir}}/%{{dst_systemd_service}}

%check
%pyproject_check_import

%changelog
