Source: proton-vpn-daemon
Section: python
Priority: optional
Maintainer: Proton AG <opensource@proton.me>
Standards-Version: 4.1.2
Build-Depends: debhelper (>= 9), dh-python, python3-all, python3-setuptools, python3-dbus-fast,
  systemd, python3-psutil, python3-bpfcc, python3-packaging, wireguard-tools,
  python3-proton-vpn-api-core (>= 5.3.1)
Homepage: https://protonvpn.com/

Package: proton-vpn-daemon
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-dbus-fast,
  systemd, python3-psutil, python3-bpfcc, python3-packaging, wireguard-tools,
  python3-proton-vpn-api-core (>= 5.3.1)
Description: Proton VPN Daemon
